import(stats)
importFrom("utils", "data", "combn")
importFrom("graphics", "boxplot", "plot", "par")

export(weightit, weightitMSM, trim, ps.cont)
S3method(print, weightit)
S3method(summary, weightit)
S3method(print, summary.weightit)
S3method(print, weightitMSM)
S3method(summary, weightitMSM)
S3method(print, summary.weightitMSM)
S3method(trim, weightit)
S3method(trim, numeric)
S3method(summary, ps.cont)
S3method(plot, ps.cont)
S3method(boxplot, ps.cont)
